+++
title = "code_for_space"
linkTitle = "code_for_space"

+++

{{< blocks/cover title="Welcome to code_for_space!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<p class="lead mt-5">A meetup group for open-source contributors and citizen scientists for space exploration!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
code_for_space is a group of volunteer developers, engineers, & citizen scientists developing open-source projects for the advancement of space science and space exploration!

Featured projects can include, but not limited to:
* NASA/JPL Open Source Rover: 1/6th scale open-source design of the Mars Curiosity rover. 
* Project PANOPTES: Citizen-science robotic telescopes that can detect transiting exoplanets
* Sloan Digital Sky Survey: detailed three-dimensional maps of the Universe, with deep multi-color images of one-third of the sky and spectra for more than three million astronomical objects.
* Celestial: Real-time 3D visualization of space
* Stellarium: A realistic, real-time 3D simulation of the night sky
* KubOS: Open source software stack for satellites
* Space Decentral: A decentralized platform for developing and funding open-source space missions and projects
{{% /blocks/lead %}}


{{< blocks/section color="dark" >}}

{{% blocks/feature icon="none" %}}
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/code-for-space" %}}
{{% /blocks/feature %}}

{{< /blocks/section >}}
